$grey: #fafafa;
$border: 1px solid darken($grey, 10%);
$box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
$border-radius: 10px;

.login {
  background: $grey;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}